@page "/user/manager/room/{id:int}"
@model RoomManagerModel
@{
    ViewData["style"] = "~/css/roommanage.css";
}

<h1>Manage rooms</h1>
<div id="display-management">
    <div class="room-management">
        <ul>
            @foreach(var rm in Model.userManagedRooms)
            {
                <li class="item-manager">
                    <span>@rm.Name</span> -
                    <span>@rm.Description</span> -
                    <span>Actions:</span>
                    <form method="post">
                        @Html.Hidden("RoomId", rm.Id)
                        <button asp-page-handler="Edit"
                                class="btn btn-success">Edit</button> | 
                        <button asp-page-handler="Delete" class="btn btn-danger">Delete</button>
                    </form>
                </li>
                <br>
            }
        </ul>
    </div>
    <hr>
    <div class="room-included">
        <ul>
            @foreach(var ri in Model.userIncludedRooms)
            {
                <li class="item-included">
                    <p>@ri.Name</p>
                </li>
            }
        </ul>
    </div>
</div>

<script>
    @* document.addEventListener("submit", event => {
        event.preventDefault();


    }) *@
</script>
