@page "/user/edit/password/{id:int}"
@model BaseModelChangePassword

<h1>Change Password</h1>

<form method="post">
    <div>
        <label for="idpassword">Change password</label> </br>
        <input type="password" name="password" id="idpassword">
    </div>
    <div>
        <label for="idconfirm">Confirm your password</label> </br>
        <input type="password" name="confirmPassword" id="idconfirm">
        @if(TempData["ErrorConfirmPassword"] != null)
        {
            <br/>
            <span class="text-danger">@TempData["ErrorConfirmPassword"]</span>
        }
    </div>
    <div>
        @Html.Hidden("id", Model.Id)
        <input class="btn btn-success" type="submit" value="Change">
        <a class="btn btn-primary" href="#">Back</a>
        @if(TempData["ErrorPasswordForm"] != null)
        {
            <br/>
            <span class="text-danger">@TempData["ErrorPasswordForm"]</span>
        }
    </div>
</form>
