@page "/user/edit/password/{id:int}"
@model BaseModelChangeData

<h1>Change Password</h1>

<div>
    <label for="">Change password</label>
    <input type="password" name="">
</div>
<div>
    <label for="">Confirm your password</label>
    <input type="password" name="">
</div>
<div>
    <input class="btn btn-success" type="submit" value="Change">
    <a class="btn btn-primary" href="#">Back</a>
</div>
