@page "/manager/room"
@model RoomManagerModel
@{
    ViewData["style"] = "~/css/roommanage.css";
}

<h1>Manage rooms</h1>
<div id="container">
    <div class="room-management">
        <ul>
            @foreach(var rm in Model.userManagedRooms)
            {
                <li class="item-manager">
                    <span>@rm.Name</span> -
                    <span>@rm.Description</span> <br>
                    <span>Actions:</span>
                    <div class="actions">
                        <a href="/room/edit/@rm.Id" class="btn btn-success">EDIT</a>
                        <form method="post" asp-page-handler="Delete">
                            @Html.Hidden("roomId", rm.Id)
                            <button class="btn btn-danger">
                                DELETE
                            </button>
                        </form>
                    </div>
                </li>
                <br>
            }
        </ul>
    </div>
    <hr>
    <div class="room-included">
        <ul>
            @foreach(var ri in Model.userIncludedRooms)
            {
                <li class="item-included">
                    <p>@ri.Name</p>
                </li>
            }
        </ul>
    </div>
</div>
