@page "/user/edit/{id:int}"
@model BaseModelChangeData

@{
    var partialDocument = ViewData["TemplateForm"] ?? "_ConfirmPasswordPartial.cshtml";
    var file = $"~/Pages/Manager/Partials/{partialDocument}";
}

<h1>Change Email/Name</h1>

<form method="post">
    @{
        await Html.RenderPartialAsync(file, Model);
    }
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.Id)
</form>
